<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366320388218-tgh40dot7v4nmhee38o9qk4r88n94q6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366320388218-tgh40dot7v4nmhee38o9qk4r88n94q6a</string>
	<key>API_KEY</key>
	<string>AIzaSyBbQqOIgpdVOwIHtER-3u1NGBxVv86ufX8</string>
	<key>GCM_SENDER_ID</key>
	<string>366320388218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo.app</string>
	<key>PROJECT_ID</key>
	<string>todo-task-ap</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-task-ap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366320388218:ios:ff1600465c1a32963853c3</string>
</dict>
</plist>